div.fossil-classification {
  width:240px;
  background-color:#dcdcdc;
  padding:15px;
  border-radius:10px;
  border:1px solid #666;
	box-sizing: border-box;
	position: relative;
  h2, h3 {
    margin:0;
    padding:0 0 10px 0;
    text-align:center;
    line-height:1;
    font-weight:700;
  }
  h2 {
    font-style:italic;
		font-size:19px;
  }
	h3 {
		font-size:16px;
	}
  p.temporal-range {
    text-align:center;
    margin:0;
    padding:0 0 15px 0;
    font-size:14px;
  }
  p.holotype {
    text-align:center;
    margin:0;
    padding:15px 0 0 0;
  }
  &--chart {
    > [data-g] { 
      padding:8px;
      border-bottom:1px solid #666;
      border-left:1px solid #666;
      border-right:1px solid #666;
      p {
        margin:0;
        padding:0;
        font-size:16px;
        &.fc-label { font-weight:400; width:100%; font-size:12px; }
        &.fc-val { font-weight:700; width:100%; font-size:16px; }
      }
    }
    > [data-g=k] { 
      background-color:#bffffc;
      border-radius:10px 10px 0 0;
      border-top:1px solid #666;
    }
    > [data-g=p] { 
      background-color:#bbffd3;
    }
    > [data-g=c] { 
      background-color:#bbffb1;
    }
    > [data-g=o] { 
      background-color:#d9ffaf;
    }
    > [data-g=f] { 
      background-color:#fcffac;
    }
    > [data-g=g] { 
      background-color:#f8d3a9;
    }
    > [data-g=s] { 
      background-color:#eac3a6;
      border-radius:0 0 10px 10px;
    }
  }
}



@media only screen and (min-width: 768px) {
  div.fossil-classification {
    width:280px;
    &--chart {
      > [data-g] { 
        p {
          &.fc-label { width:75px; float:left; font-size:16px; }
          &.fc-val { width:152px; float:right; font-size:16px; }
        }
        &:after {
          clear:both;
          content:'';
          display:table;
        }
      }
    }
  }
}



* {
  box-sizing:border-box;
}
